@import "../../variables.less";

.login-page {
  background-image: url('../../misc/login.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  text-align: center;

  .login_content {
    height: 100vh;
    background-color: @--color;
    padding: 56px 40px;
    margin-left: 70.83333%;

    .header-form {
      margin: auto;
      text-align: center;
      height: 100px;
      width: 100px;
      margin-bottom: 20px;

      img {
        width: 100%;
      }
    }
  }
}
