@import "../../../../variables.less";

.user-inner {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  height: 65px;
  background: @--color;
  border-radius: 10px;
  position: relative;

  .image {
    padding: 0 10px;
  }

  .infor-user {
    display: flex;
    flex-direction: column;

    .name {
      font-size: 16px;
      font-weight: bold;
    }

    .address {
      font-size: 16px;
    }
  }
}

.icon-add {
  background-color: @--color;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-radius: 100%;
}
.option {
  cursor: pointer;
  position: absolute;
  right: 15px;

  .dot {
    width: 7px;
    height: 7px;
    background-color: @bg-color;
    border-radius: 50%;
    margin: 1px;
  }
}

.menu1 {
  padding: 0!important;
  position: absolute!important;
  right: 0!important;
  top: 15px!important;
  text-align: center!important;
  width: 150px;

  li {
    border-bottom: 1px solid #5973ae;
  }
  li:hover {
    background-color: transparent;

    a {
      color: @--blue-color; 
    }
  }
  li:last-child {
    border-bottom: none;
  }
}
