@import "../../variables.less";
@import "../../functions.less";

.init-sidebar {
  z-index: 999;
  transition: 0.5s;
  width: 300px;
  background: @headline-color;

  .menu-sidebar {
    overflow-y: auto;
    width: 300px;
    min-height: 100vh;

    .ant-avatar-image {
      background-color: aliceblue;
    }

    .logo {
      .displayFlex(flex, space-around, center);
      position: relative;
      z-index: 3;
      padding: 0 35px;
      z-index: 3;
      padding-top: 50px;
    }

    .menu-sidebar-content {
      position: relative;

      .navbar-sidebar {
        padding: 35px;
        padding-bottom: 0;

        ul {
          .listUnstyle();
          color: white;

          a {
            color: @background-color;
            display: block;
            font-size: 16px;
            padding: 15px 0;
            text-decoration: none;
          }

          i {
            height: 20px;
            width: 20px;
            margin-right: 19px;
          }

          li.active > a {
            color: @hover-color;
          }

          li:hover > a {
            color: @hover-color;
          }
          
          .btn-logout {
            padding: 15px 0;
            cursor: pointer;

            &:hover {
              color: @hover-color;
            }
          }
        }
      }
    }

    .close-sidebar {
      position: absolute;
      bottom: 10%;
      left: 40%;
      font-size: 20px;

      button {
        .common-button();
        border-radius: 100%;
        padding: 10px 15px;
        border: 1px solid @--light-color;
      }
    }
  }
}

.toggle-button {
  position: absolute;
  left: 300px;
  top: 10px;
  font-size: 20px;
  z-index: 10;

  button {
    .common-button();
    padding: 10px 15px;
  }
}

.opened-sidebar {
  transform: translateX(0);
  width: 300px;
}

.button-transition {  
  display: none;
}
