@import "../../variables.less";
@import "../../functions.less";

.header-container {
  box-shadow: @box-shadow;
  height: 75px;
  z-index: 3;
  background: @--color;
}

.header-wrap {
  .displayFlex(flex, flex-end, center);
  height: 100%;
}

.account-wrap {
  position: relative;
  cursor: pointer;

  .image {
    width: 45px;
    height: 45px;
    float: left;
    overflow: hidden;
    border-radius: 3px;

    img {
      width: 45px;
      height: 45px;
    }
  }
}
