@import "../../variables.less";
@import "../../functions.less";

.main-content {
  background-color: @--color;
  border-radius: 10px;
  height: 100%;

  .search {
    padding: 0 30px;
    margin-bottom: 30px;
    .displayFlex(flex, space-between, center);

    .search_content {
      input {
        width: 300px;
        padding: 10px 20px;
        border-radius: 5px;
        border: 1px;
        font-style: italic;
        border: 1px solid;

        &:focus {
          outline: none;
        }
      }
    }

    .button-create {
      padding: 10px;
      border: none;
      cursor: pointer;
      border-radius: 4px;
      background-color: @--blue-color;
      transition: all 0.5s;

      &:hover {
        box-shadow: 2px 4px rgba(169, 169, 169, 0.5);
        background-color: rgba(30, 144, 255, 0.8);
      }

      a {
        color: white;
      }
    }
  }

  .list-user {
    padding: 0 30px;

    .common-table();

    .combo-button {
      .button-interactive {
        border: 0;
        background: none;
        color: @--black-color;
        cursor: pointer;

        &:focus {
          outline: none;
        }
      }
    }
  }
}
